* {
    padding: 0px; 
    margin: 0;
    border: 0px;  
}

.divDiv {
    padding: 86px 0px;
}

.login-page {
    background-image: url(./img/futuristic-technology-sense-hexagonal-honeycomb-red-background-picture-image_1458849.jpg);
    width: 100vw;
    height: 100vh;
}

.logado-page {
    background-image: url(./img/abstract-dark-green-futuristic-gaming-background.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.login-div {

    width: 600px;
    height: 400px;

    margin-left: auto;
    margin-right: auto; 

    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.login-fundo {
    background-color: white;
    opacity: 50%;
    
    width: 600px;
    height: 400px;

    filter: blur(1px);
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;

}

.logado-fundo {
    background-color: gray;
    opacity: 90%;
    
    width: 600px;
    height: 400px;

    filter: blur(1px);
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;
}

.login-text {
    color:red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;

    opacity: 100%;
    position: absolute;
}

.logado-text {
    color:greenyellow;
    font-size: 70px;

}

#botao-logar {
    background-color: white;

    color:red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;

    width: 250px;
    height: 50px;

}

#botao-logar:hover {
    background-color: cyan;
    color: gray;
    transition: 0.1s;
    cursor: pointer;
}

#botao-logado {
    background-color: black;

    color:greenyellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;

    width: 250px;
    height: 50px;

}

#botao-logado:hover {
    background-color: cyan;
    color: gray;
    transition: 0.1s;
    cursor: pointer;
}

.boxform {
    position:relative;
    display: grid;
    width: 250px;
    height: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
